*{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

section{
    margin: 20px;
    border: solid rgba(0, 0, 0, 0.521) 1px;
    box-shadow: 2px 2px 0px;
}
.content{
    padding: 1rem;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    
}
ol.pokemons{
    font-size: 16px;
    list-style: none;
    color: darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ol.pokemons li{
    color: white;
    margin: .5rem;
    padding: 1rem;
    background-color: #14a06f;
    border-radius: 10px;
    box-shadow: 1px 1px 0px;
    
}
ol.pokemons li img{
    height: 100px;
    max-width: 100%;
}